.bar{
    padding: 10px;
    hr{
        // border: none;
        // height: 1px;
        // background-color: gray;
        // margin: 8px 0;
        border: none;
        height: 2px;
        background-color: grey;
    }
    .container{
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        span{
            font-style: italic;
            font-size: 12px;
        }
        .item{
            display: flex;
            align-items: center;
            gap: 5px;
            span{
                font-size: 18px;
                font-style: normal;
            }
        }
    }
}