@use "../../app.scss" as app;

.comments {
  @include app.themify(app.$themes) {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px solid app.themed(border);
    display: flex;
    flex-direction: column;
    gap: 10px;

    .write {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      margin-bottom: 20px;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin-left: 15px;
        border: 2px solid app.themed(border);
      }
      textarea {
        flex: 1;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid app.themed(border);
        outline: none;
        font-size: 15px;
        padding: 5px 10px;
        color: app.themed(textColor);
        resize: none;
      }
      button {
        border: none;
        background-color: #5271ff;
        color: white;
        padding: 10px;
        cursor: pointer;
        border-radius: 3px;

        .spinner {
          border: 5px solid white;
          border-top: 5px solid black;
          animation: spin infinite ease-in-out 0.8s;
          width: 14px;
          height: 14px;
          border-radius: 50%;
        }
        @keyframes spin {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
      }
    }

    .comment {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 10px;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid app.themed(border);
        flex-shrink: 0;
      }
      .details {
        flex: 5;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 70%;

        span {
          font-weight: 500;
          line-height: 1;
        }
        p {
          max-width: 95%;
          font-size: 14px;
          color: app.themed(textColorSoft);
          word-wrap: break-word;
          white-space: pre-wrap;
          flex: 1;
        }
      }
      .date {
        flex: 1;
        font-size: 12px;
        font-style: italic;
        color: app.themed(textColorSoft);
        align-self: flex-start;
      }
    }
  }
}
