@use "../../app.scss" as app;

.post {
  @include app.themify(app.$themes) {
    padding: 20px;
    background: app.themed(bg);
    color: app.themed(textColor);
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    box-shadow: 0px 0px 49px -12px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 49px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 49px -12px rgba(0, 0, 0, 0.75);

    .user {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .userInfo {
        display: flex;
        gap: 5px;
        img {
          height: 40px;
          width: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
        .details {
          display: flex;
          flex-direction: column;
          .name {
            font-weight: 500;
          }
          .date {
            font-size: 12px;
            font-style: italic;
            color: app.themed(textColorSoft);
          }
        }
      }
    }
    .content {
      margin: 10px 0px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      img {
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
      }
      span {
        margin-left: 5px;
      }
    }
    .info {
      display: flex;
      gap: 20px;
      align-items: center;
      .item {
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        font-size: 14px;
      }
    }
  }
}
