.login{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .card{
        display: flex;
        background-color: white;
        width: 50%;
        border-radius: 10px;
        min-height: 500px;
        overflow: hidden;
        .left{
            flex: 1;
            background:linear-gradient(rgba(39, 211, 165, 0.348),rgba(40, 35, 193, 0.533)), url("https://r4.wallpaperflare.com/wallpaper/254/599/664/bridge-forest-minimalism-minimalist-wallpaper-a8e6dd9860501cb8904cf18e383294ea.jpg") center;
            background-size: cover;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            color: white;
            h1{
                font-size: 80px;
                line-height: 70px;
            }
            p{
                text-align: left;
            }
            span{
                font-size: 14px;
            }
            button{
                width: 50%;
                padding: 8px;
                border: none;
                background-color: white;
                font-weight: bold;
                border-radius: 5px;
                cursor: pointer;
            }
        }
        .right{
            flex: 1;
            padding: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1{color: rgb(46, 46, 46);}
            form{
                display: flex;
                flex-direction: column;
                gap: 10px;
                input{
                    border: none;
                    border-bottom: 1px solid gray;
                    padding: 10px 5px;
                }
                button{
                    margin-top: 10px;
                    width: 50%;
                    align-self: flex-end;
                    border: none;
                    padding: 8px;
                    background-color: blue;
                    color: white;
                    border-radius: 5px;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }
    }
}