@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

.mainBackground{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background:lightgray;
  background-size: cover;
  height: 100vh;
}