@use "../../app.scss" as app;

.navbar {
  @include app.themify(app.$themes) {
    background: app.themed(bg);
    color: app.themed(textColor);
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 10px 10px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid app.themed(border);

    .left {
      display: flex;
      gap: 10px;
      align-items: center;
      span {
        font-size: 20px;
        font-weight: bold;
        color: app.themed(logo);
      }
      .search {
        display: flex;
        border-left: 2px solid app.themed(border);
        padding-left: 10px;
        gap: 2px;
        input {
          background: app.themed(bg);
          color: app.themed(textColor);
          border: none;
          border-bottom: 2px solid app.themed(border);
          outline: none;
          width: 200px;
          font-size: 15px;
        }
      }
    }
    .right {
      display: flex;
      gap: 10px;
      align-items: center;
      position: relative;
      .account {
        cursor: pointer;
        display: flex;
        gap: 5px;
        align-items: center;
        padding-left: 10px;
        border-left: 1px solid app.themed(border);
        img {
          height: 40px;
          width: 40px;
          border-radius: 50%;
          border: 2px solid app.themed(border);
          object-fit: cover;
        }
        span {
          font-style: italic;
        }
      }
      .dropDown {
        position: absolute;
        top: 50px;
        right: 0px;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background-color: app.themed(bg);
        color: app.themed(textColor);
        padding: 10px;
        border-radius: 10px;
        animation: dropDownAni 0.1s linear normal forwards;
        button {
          border: none;
          width: 100%;
          height: 40px;
          border-radius: 20px;
          cursor: pointer;
          &:first-child {
            background-color: red;
            color: white;
            font-size: 18px;
          }
          &:last-child {
            background-color: app.themed(textColorSoft);
            color: app.themed(bg);
            font-size: 18px;
          }
        }

        @keyframes dropDownAni {
          from {
            transform: translateY(-20px);
          }
          to {
            transform: translateY(0);
          }
        }
      }
    }
  }
}
